html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  font-family: "Dosis", sans-serif;
  font-display: swap;
  height: inherit;
  justify-content: center;
}

.wrapper {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.34);
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
  z-index: 1;
}

.screen {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgbd(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  font-size: 35px;
  overflow: auto;
  padding: 20px;
  text-align: right;
  width: 326px;
}

.calc-button-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-button {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  columns: #232323;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
}

.calc-button:last-child {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  columns: #fff;
  background-color: #d72880;
}

.calc-button:last-child:hover {
  background-color: inherit;
  color: inherit;
}

.calc-button:hover {
  background-color: inherit;
}

.calc-button:active {
  background-color: #ffef78;
}

.double {
  flex-basis: 47%;
}

.triple {
  flex-basis: 73%;
}
/* ---- reset ---- */

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);

  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 24%;
  width: 161px;
  height: 161px;
  bottom: -161px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 38%;
  width: 221px;
  height: 221px;
  bottom: -221px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 19%;
  width: 228px;
  height: 228px;
  bottom: -228px;
  animation-delay: 8s;
}
.background li:nth-child(3) {
  left: 15%;
  width: 210px;
  height: 210px;
  bottom: -210px;
  animation-delay: 6s;
}
.background li:nth-child(4) {
  left: 1%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 16s;
}
.background li:nth-child(5) {
  left: 81%;
  width: 72px;
  height: 72px;
  bottom: -72px;
  animation-delay: 4s;
}
.background li:nth-child(6) {
  left: 60%;
  width: 213px;
  height: 213px;
  bottom: -213px;
  animation-delay: 6s;
}
.background li:nth-child(7) {
  left: 87%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 8s;
}
.background li:nth-child(8) {
  left: 15%;
  width: 243px;
  height: 243px;
  bottom: -243px;
  animation-delay: 13s;
}
.background li:nth-child(9) {
  left: 8%;
  width: 167px;
  height: 167px;
  bottom: -167px;
  animation-delay: 27s;
}
.background li:nth-child(10) {
  left: 7%;
  width: 235px;
  height: 235px;
  bottom: -235px;
  animation-delay: 2s;
}
.background li:nth-child(11) {
  left: 75%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 32s;
}
.background li:nth-child(12) {
  left: 51%;
  width: 173px;
  height: 173px;
  bottom: -173px;
  animation-delay: 28s;
}
.background li:nth-child(13) {
  left: 33%;
  width: 196px;
  height: 196px;
  bottom: -196px;
  animation-delay: 56s;
}
.background li:nth-child(14) {
  left: 62%;
  width: 203px;
  height: 203px;
  bottom: -203px;
  animation-delay: 20s;
}
